@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@531&display=swap');

body{
    max-width: 650px;
    margin: 0 auto;
}
h1, footer{
    background-color:	#7ac6cf;
    color:white;
  
}
h1{
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    font-size: 36px;
    text-align:center;
    padding:15px 0px 15px 15px;
    
}
h2{
    border-bottom: 2px solid #7ac6cf;
    font-size: 1.5rem;
}
#redhat{
  
    margin:0 auto;
    
}
p, li, h2{
    font-family: 'Roboto Slab', serif;
}
footer{
    padding:20px 0 20px 10px;
    text-align:center;
}
#lastUpdated{
    color: #1603a1;
    padding: 0 0 5px 0;
    margin: 0;
}
footer p{
    margin: 0;
}
a{
    color:#7ac6cf;
}
footer a{
    color:white;
}
#destress{
    cursor:default;
}