@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');
body{
    font-family: "Noto Sans KR", sans-serif;
}

h1{
    text-align: center;
    font-family: "Noto Sans KR";
    font-weight: bolder;
    color: #3b5998;
  
}
.cards{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    flex-wrap: wrap;  
    justify-content: space-between
}

.card{
    text-align: center;
    background-color: #3b5998;
    border: 2px solid #000000;
    margin: 5px;
    max-width: 330px;
}

.card img{
    width: 75%;
    display: block;
    margin: 10px auto 20px;
    border: 2px solid #000000;
}

footer {
    padding: 5px;
    text-align:center;
}