@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@531&display=swap');

body {
    display: grid;
    justify-items: center;
}

#content {
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif;

    color: white
}

p {
    font-family: 'Roboto Slab', serif;
    text-align: center;
}

.top-div p, .top-div a {
    font-size: 1.2rem;
    padding: 5px;
}

a {
    color: rgb(0, 157, 255);
}

header, footer {
    text-align: center;
    background-color: rgb(0, 157, 255);
    color: white;
    padding: 25px ;
    
}

header a, footer a {
    color: white;
}

#return {
    text-align: center;
}

.site-div img {
    display: flex;
    width: 90%;
    margin: auto;
}
.content-box {
    width: 100%;
  
    background-color: #ffffff;
    border-radius: 25px;
    margin: 25px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    box-shadow: 0px 5px 30px -10px black;
    


}

.content-box h3 { 
    background-color: rgb(0, 157, 255);
    padding: 20px 15px;
    margin: 0;
    border-radius: 25px 25px 0px 0px;
    text-align: center;
    
}

.site-div {
    width: 95%;
    height: 75%;
    margin: 0 auto;

}

.bottom-border {
    background-color: rgb(0, 157, 255);
    padding: 20px;
    border-radius: 0 0 15px 15px;
}

.description p {
    padding: 10px 10px;
    font-size: 1em;
    text-align: left;
}

.description {
    padding: 10px;
}

.top-div {
    padding: 10px 10px;
    margin: 0;
    text-align: center;
}

#sections-container {
    max-width: 80%;
    margin: 0 auto;
}

p {
    margin: 0;
}


@media screen and (min-width:720px) {
    #sections-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 75px;
    }

}

@media screen and (min-width:1120px) {
    #sections-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}
        

